--
-- PostgreSQL database dump
--

\restrict 3c8hlDejVJeiUoV7La989gszMjeM7XkSt7ZtmrXQ6xdtHb9cCeC5A8kb2qqxRnl

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg12+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: contato; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contato (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    telefone character varying(15) NOT NULL,
    email character varying(255) NOT NULL
);


ALTER TABLE public.contato OWNER TO postgres;

--
-- Name: contato_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.contato ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.contato_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: contato; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: contato_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contato_id_seq', 13, true);


--
-- Name: contato contato_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contato
    ADD CONSTRAINT contato_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3c8hlDejVJeiUoV7La989gszMjeM7XkSt7ZtmrXQ6xdtHb9cCeC5A8kb2qqxRnl

